<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.user.MyDesktopVideo</string>

    <key>CFBundleExecutable</key>
    <string>MyDesktopVideo</string>

    <key>CFBundleName</key>
    <string>MyDesktopVideo</string>

    <key>CFBundleIconFile</key>
    <string>MyDesktopVideo</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>

    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
